
*
{
    font-family: 'Poppins', sans-serif;
}

.contact
{
    position: relative;
    min-width: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: grey;
    background-size: cover;
    opacity: .95;
}

.contact .content
{
    max-width: 800px;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 10px;

}

.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.formContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.formContainer .contactInfo
{
    width: 40%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.formContainer .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.formContainer .contactInfo .box .icon
{
    min-height: 60px;
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.formContainer .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 500;

}
.formContainer .contactInfo .box .text h3
{
    color: #00bcd4;
}

.contactForm
{
    width: 50%;
    padding: 40px;
    background: rgb(226, 226, 226);
    border-radius: 10px;

}

.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background: rgb(226, 226, 226);
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;


}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
.contactForm .inputBox input[type="submit"]:hover 
{
    background-color: darkblue;
}

@media (max-width: 1400px)
{
    .contact
    {
        padding: 50px;

    }
    .formContainer
    {
        flex-direction: column;
    }
    .formContainer .contactInfo
    {
        margin-bottom: 40px;

    }
    .formContainer .contactInfo, 
    .contactForm
    {
        width: 100%;
    }
}

@media (max-width: 991px)
{
   
    .formContainer .contactInfo
    {
        margin-bottom: 60px;

    }
  
    .contact .content
    {
        max-width: 600px;
    

    } 
}

@media (max-width: 665px)
{
   
    .contact
    {
        padding: 25px;
        min-width: 25vh;
    }
    .contact .content
    {
        max-width: 325px;
    

    }   
    
    .contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
}
}

@media (max-width: 414px)
{
    .formContainer .contactInfo .box .text
    {
        font-size: 13px;
    }   
}
@media (max-width: 365px)
{
    .formContainer .contactInfo .box .text
    {
        font-size: 11px;
    }  
}
