/*****************************************************
*
*                Room criteria form
*
*****************************************************/
form {
    width: 600px;
    text-align: center;
    margin: 20px auto 0px;
    padding: 20px;
}

/*****************************************************
*
*                Display all rooms
*
*****************************************************/
#roomsContainer {
    background-color: var(--darkColor);
    width: 800px;
    height: auto;
    text-align: center;
    margin: 0px auto;
    border-radius: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    color:black;
    padding: 20px;
    overflow: auto;
    display: none;
}

ul {
    list-style-type: none;
}

.roomLi {
    text-decoration: none;
    height: 225px;
    margin: 5px 0px;
}

.col1 {
    width: 35%;
    height: 100%;
    overflow: hidden;
    float: left;
    background-color: var(--lighterMidColor);
}

.col1 img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0;
}

.col2 {
    width: 35%;
    height: 100%;
    overflow: hidden;
    float: left;
    background-color: var(--lightColor);
    position: relative;
}

.amenities {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0;
}

.amenities li {
    padding-left: 5px;
    text-align: left;
}

.col3 {
    width: 30%;
    float: left;
    height: 100%;
    overflow: hidden;
    background-color: var(--darkerLightColor);
    padding: 10px;
}

.roomLi button {
    margin: 5px;
}

.btnBookRoom {
    vertical-align: baseline;
    font-size: 1.2rem;
}

/* Clear floats after the columns */
.col1::after, .col2::after, .col3::after {
    clear: both;
}

/*****************************************************
*
*           Show all info about one room
*
*****************************************************/
#roomPopupContainer {
    margin: 20px auto 0px;
}

.roomPopup {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    padding: 20px;
    background-color: var(--lightColor);
    border-radius: 1.5em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    color: var(--darkColor);
}

.roomPopup h1 {
    top: 0;
    margin: 0;
    height: 40px;
}

.popupInfo {
    display: flex;
}

.popupImagesContainer {
    flex: 1;
    padding: 5px;
    background-color: var(--lighterMidColor);
}

.popupImagesContainer img{
    width: 100%;
}

.popupInfoContainer {
    flex: 1;
    padding: 5px;
    background-color: var(--darkerLightColor);
}


/*****************************************************
*
*          Modal Styling
*
*****************************************************/
.modal-content {
    background-color: var(--lightColor);
    width: 400px;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.btnClose {
    top: 5px;
    right: 5px;
    position: absolute;
    border-radius: 1.5em;
}

/*****************************************************
*
*                 Sign In & Sign Up
*
*****************************************************/
#sectLogin {
    display: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* default to having sign in pop up rather than sign up*/
#signIn, #signUp {
    display: none;
}

#sectLogin h1 {
  padding-top: 40px;
  color: var(--darkColor);
  font-weight: bold;
  font-size: 24px;
}

#sectLogin form {
    width: 100%;
    padding: 10px 40px;
    background-color: var(--lightColor);
    border-radius: 0;
}

#sectLogin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    outline: none;
    border: 2px solid var(--lighterMidColor);
}

#sectLogin form button {
    background-color: var(--darkerLightColor);
    width: 125px;
    margin: 5px;
}

#sectLogin form button:hover {
    background-color: var(--lighterMidColor);
}