*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html
{
background: url('media/beach.jpg') no-repeat center center fixed; 

  overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5d4954;
    
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5x;
    font-size: 20px;
    width: 90%;
    text-align: left;
}
.navlinks li
{
    list-style: none;
}
.navlinks a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.navlinks a::after{
    content: "";
    background: rgb(226, 226, 226);
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navlinks a:hover::after
{
    height: calc(100% + 8px)
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}


.navlinks{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-bottom-left-radius: 25px;
    opacity: .9;
    z-index: 5;
}
.navlinks li
{
    opacity: 0;
    
}

.burger
{
    display: block;
    cursor: pointer;
}
.nav-active
{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2
{
    opacity: 0;
}

.toggle .line3
{
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width:1024px)
{
    .navlinks {
        width: 60%;
    }
}

@media screen and (max-width:705px)
{
    body
    {
        overflow-x: hidden;
    }
    form
    {
        width: 500px;
    }
    .navlinks
    {
        width: 65%;
    }
    .logo
    {
        width: 80%;
    }
}


button
  {
    border-radius: 25;
    width: 100;
  }
  .submit {
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #0a090a, #edeaee);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      
  }
  input[type=submit] {
    background-color: #5d4954;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: gray;
  }

  table {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: rgb(226, 226, 226);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5d4954;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5d4954;
    color: white;
  }

.message
{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

/* Style from/to */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.preloader
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transition: 1s;
}
.preloader:before
{
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #5d4954;
  transition: 1s;
}

.preloader.complete:before
{
  left: -50%;
}
.preloader:after
{
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #5d4954;
  transition: 1s;
}
.preloader.complete:after
{
  right: -50%;

}
.loader
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 3px solid rgb(226, 226, 226);
  animation: animate 2s linear infinite;
  z-index: 10000;

}
.loader:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  animation: animateBg 2s linear infinite;
}
.preloader.complete
{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@keyframes animate
{
  0%
  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25%
  {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50%
  {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  75%
  {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animateBg
{
  0%
  {
    height: 0;
  }
  25%
  {
    height: 0;
  }
  50%
  {
    height: 100%;
  }
  75%
  {
    height: 100%;
  }
  100%
  {
    height: 0;
  }
}
