form {
    width: 600px;
    padding: 20px 80px;
}

#formSelectButtons {
    text-align: center;
    margin-top: 2em;
}


#formSelectButtons button {
    font-size: 22px;
}

input[type="submit"] {
    font-size: 18px;
}

/* we want the rooms button to be selected by default since thats the form that shows up */
#formSelectButtons #roomFormBtn {
    background-color: var(--darkColor);
    color: var(--midColor);
}

#formSelectButtons button:hover, input[type=submit]:hover{
    background: var(--midColor);
}

#roomForm {
    display: block;
}

#typeForm {
    display: none;
}

#tierForm {
    display: none;
}

.submitButtons {
    text-align: center;
}

.col1 {
    float: left;
    width: 40%;
}

.col2 {
    float: left;
    width: 60%;
}

#roomNumberSelector select, input[type="text"] {
    width: 100%;
}

#roomNumberText {
    display: none;
}

#imagePlaceholder {
    margin: 10px;
    font-size: .8rem;
    background-color: var(--lightColor);
    color: var(--darkColor);
    height: fit-content;
    padding: 10px;
}