form {
    background-color: #5d4954;
    opacity: .9;
    width: 600px;
    height: auto;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(226, 226, 226);
    padding: 20px 80px;
}

form input[type="submit"] {
    border:  2px solid #FFF;
    background-color: #9A8D94;
    font-size: 18px;
    font-weight: bold;
    color: #5d4954;
}

#formSelectButtons {
    text-align: center;
    margin-top: 2em;
}


#formSelectButtons button {
    margin: 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
    background-color: #EBE8EA;
    color: #5d4954;
    border: none;
    border-radius: 1px;
}

/* we want the rooms button to be selected by default since thats the form that shows up */
#formSelectButtons #roomFormBtn {
    background-color: #5d4954;
    color: #EBE8EA;
}

#formSelectButtons button:hover {
    background: #9A8D94;
}

#roomForm {
    display: block;
}

#typeForm {
    display: none;
}

#tierForm {
    display: none;
}

.submitButtons {
    text-align: center;
}

.col1 {
    float: left;
    width: 40%;
}

.col2 {
    float: left;
    width: 60%;
}

.clear {
    clear: both;
}

#roomNumberSelector select, input[type="text"] {
    width: 100%;
}

#imagePlaceholder {
    margin: 10px;
    font-size: .8rem;
    background-color: white;
    color: #5d4954;
    height: fit-content;
    padding: 10px;
}