body {
    font-family: "lato", sans-serif;
  }
  :root {
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    height: 600px;
    background-color: #5d4954;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
    overflow-y: scroll;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  h3{
    text-align: left;
  }
  .ratingDisplay
  {
    text-align: right;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    z-index: -1;
  }
  .responsive-table .table-header {
    background-color: #021618;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    z-index: -1;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  .responsive-table .table-row {
    border: 1px solid transparent;
  }
  .responsive-table .table-row:hover {
    cursor:pointer;
    color:red;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  
  .responsive-table .col-1 {
    flex-basis: 30%;
  }
  .responsive-table .col-2 {
    flex-basis: 60%;
  }
  .responsive-table .col-3 {
    flex-basis: 10%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: left;
    }
    .container
    {
        height: 675px;
    }
  }
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: none;
  }

  ::-webkit-scrollbar-track
  {
    
    border-radius: 5px;
    background-color: #555;
  }
  
  ::-webkit-scrollbar
  {
    width: 12px;
    background-color: #555;
  }
  
  ::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    
    background-color: gray;
  }

  .buttonContainer {
    position: relative;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -40px;
    width: 260px;
    height: 80px;
    text-align: center;
  }
  
  button {
    outline: none;
    height: 80px;
    text-align: center;
    width: 260px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  button:hover {
    color: white;
    background: #1ECD97;
  }
  button:active {
    letter-spacing: 2px;
  }
  button:after {
    content: "Refresh";
  }
  
  .onclic {
    width: 80px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ECD97;
    -webkit-animation: rotating 2s 0.25s linear infinite;
            animation: rotating 2s 0.25s linear infinite;
  }
  .onclic:after {
    content: "";
  }
  .onclic:hover {
    color: #1ECD97;
    background: white;
  }
  
  .validate {
    font-size: 13px;
    color: white;
    background: #1ECD97;
  }
  .validate:after {
    font-family: "FontAwesome";
    content: "";
  }
  
  @-webkit-keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }