/*:root {
    --lightColor: #edeaee;
    --lighterMidColor: #C2BBBF;
    --midColor: #888;
    --darkColor: #5d4954;
    --darkColorTranslucent: rgba(93, 73, 84, 0.9);
}*/


:root {
    --lightColor: #E6F6F5;
    --lighterMidColor: #C0E8E5;
    --midColor: #9ADAD6;
    --darkColor: #288882;
    --darkColorTranslucent: rgba(40, 136, 130, 0.9);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
    background: url('../media/mainBackground.jpg') no-repeat center left fixed; 
    overflow-x: hidden;
}


nav, .navlinks {
    background-color: var(--darkColor);
}

.logo, .navlinks a {
    color: var(--lightColor);
}

.navlinks a::after, .burger div {
    color: var(--lightColor);
}

.navlinks {
    max-width: 300px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {
    background-color: var(--darkColorTranslucent);
    height: auto;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    color: var(--lightColor);
}

button, input[type="submit"] {
    margin: 0;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: var(--lightColor);
    color: var(--darkColor);
    border: none;
    border-radius: 1px;
}

.clear {
    clear: both;
}

#pageContainer {
    background-color: var(--darkColor);
    width: 800px;
    height: auto;
    text-align: center;
    margin: 20px auto 0px;
    border-radius: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    color:black;
    padding: 20px;
    overflow: auto;
}